<div class="col-md-12">
    <div class="alert alert-success">
        <span class="glyphicon glyphicon-ok-sign"></span>
        <span>
            New call record added successfully. <a href="/Calls/AddCall" class="btn btn-success">Add another</a>
        </span>
    </div>
</div>